{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load colorize %}

{% block content %}
    <!-- Modal -->
    <div class="modal fade" id="addItemModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add an Item For Tracking</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- <h5>Enter the <em>Url</em>: </h5> -->
                    <form action="" method="post" autocomplete="off">
                        {%csrf_token%}
                        {{form|crispy}}
                        <button type="submit" class="btn btn-primary mt-2">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addItemModel">Add</button>
            <a href="{% url 'update-prices' %}"><button class="btn btn-info">Updates</button></a>
        </div>
        <div class="col" style="text-align: right">
            <div>Total Number of Items Being Tracked: {{items_no}}</div>
            <div>Discounted Items: {{no_discounted}}</div>
        </div>
    </div>
    {% if qs %}
    {% for item in qs %}
    <div class="card mt-3">
        <div class="card-header">
            <h5>{{item.name}}</h5>
            <a href="{% url 'delete-view' item.pk %}">
                <buttom class="btn btn-danger">Delete?</buttom>
            </a>
        </div>
        <div class="card-body">
            <div class="blockquote">
                <div>Current price (&#8377): {{item.current_price}}</div>
                <div>Old Price (&#8377): {{item.old_price}}</div>
                <div>Difference (&#8377): {{item.price_difference|colorize}}</div>
                <div>Link : <a href='{{item.url}}'>{{item.name}}</a></div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
        <h3>No items beign tracked ...</h3>
    {% endif %}
{% endblock content %}